*{
    margin: 0px;
}
body{
    display: flex;
    align-items: center;
    flex-flow: column;
}
#gridContainer{
    height: 500px;
    width: 500px;
}
#newGrid{
    margin: 10px 0px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    min-height: 10%;
    min-width: 100%;
}
.grid{
    box-sizing: border-box;
    flex-grow: 1;

    border-width: 1px;
    border-style: solid;
    background-color: white;
}